In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import polars as pl
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None)
sns.set_palette("GnBu_d")
sns.set_style('whitegrid')

In [3]:
e = pd.read_csv('EXL_EQ_2023_Dataset.csv')

In [4]:
e['Time Periods']= pd.to_datetime(e['Time Periods'])

In [5]:
e['Year']=e['Time Periods'].dt.year
e['Month']=e['Time Periods'].dt.month
e['week']=e['Time Periods'].dt.dayofweek

In [6]:
e_Delhi = e[e['City'] == 'Delhi']
e_Kolkata = e[e['City'] == 'Kolkata']
e_Agartala = e[e['City'] == 'Agartala']
e_Gaya = e[e['City'] == 'Gaya']
e_Muzaffarpur = e[e['City'] == 'Muzaffarpur']
e_Patna = e[e['City'] == 'Patna']
e_Srinagar = e[e['City'] == 'Srinagar']
e_Howrah = e[e['City'] == 'Howrah']
e_Bhopal = e[e['City'] == 'Bhopal']
e_Ahmedabad = e[e['City'] == 'Ahmedabad']
e_Gwalior = e[e['City'] == 'Gwalior']
e_Bengaluru = e[e['City'] == 'Bengaluru']
e_Raipur = e[e['City'] == 'Raipur']
e_Bhilai = e[e['City'] == 'Bhilai']
e_Chandigarh = e[e['City'] == 'Chandigarh']
e_Chennai = e[e['City'] == 'Chennai']
e_Thiruvananthapuram = e[e['City'] == 'Thiruvananthapuram']
e_Imphal = e[e['City'] == 'Imphal']
e_Kota = e[e['City'] == 'Kota']
e_Jaipur = e[e['City'] == 'Jaipur']
e_Gurugram = e[e['City'] == 'Gurugram']
e_Faridabad = e[e['City'] == 'Faridabad']
e_Guwahati = e[e['City'] == 'Guwahati']
e_Moradabad = e[e['City'] == 'Moradabad']
e_Kanpur = e[e['City'] == 'Kanpur']
e_Noida = e[e['City'] == 'Noida']
e_Agra = e[e['City'] == 'Agra']
e_Ghaziabad = e[e['City'] == 'Ghaziabad']
e_Prayagraj = e[e['City'] == 'Prayagraj']
e_Meerut = e[e['City'] == 'Meerut']
e_Varanasi = e[e['City'] == 'Varanasi']
e_Lucknow = e[e['City'] == 'Lucknow']
e_Gandhinagar = e[e['City'] == 'Gandhinagar']
e_Mumbai = e[e['City'] == 'Mumbai']

In [7]:
e = e.set_index('Time Periods')

In [8]:
e = e[['PM2.5', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF',
       'VWS', 'Eth-Benzene', 'Xylene', 'MP-Xylene', 'O Xylene', 'CH4', 'City',
       #'State', 'Population as of 2021 (Estimated)', 'Latitude', 'Longitude',
       #'Total Length of Roads as of 2019(Km)',
       #'Length of National Highways as of 2022(Km)',
       #'Railway Route as of 2021(Km)', 'Forest Cover as of 2021(sq Km)',
       #'Number of Factories as of 2020 (Units)',
       #'Installed Capacity of Power as of 2022(Megawatt)',
       #'Death Rate as of 2020(Per 1000)', 'CNG ONLY', 'DIESEL',
       #'DIESEL/HYBRID', 'ELECTRIC(BOV)', 'PETROL', 'PETROL/CNG',
       #'PETROL/HYBRID',
       'Year', 'Month','week']].copy()

In [9]:
e_Delhi = e[e['City'] == 'Delhi']
e_Kolkata = e[e['City'] == 'Kolkata']
e_Agartala = e[e['City'] == 'Agartala']
e_Gaya = e[e['City'] == 'Gaya']
e_Muzaffarpur = e[e['City'] == 'Muzaffarpur']
e_Patna = e[e['City'] == 'Patna']
e_Srinagar = e[e['City'] == 'Srinagar']
e_Howrah = e[e['City'] == 'Howrah']
e_Bhopal = e[e['City'] == 'Bhopal']
e_Ahmedabad = e[e['City'] == 'Ahmedabad']
e_Gwalior = e[e['City'] == 'Gwalior']
e_Bengaluru = e[e['City'] == 'Bengaluru']
e_Raipur = e[e['City'] == 'Raipur']
e_Bhilai = e[e['City'] == 'Bhilai']
e_Chandigarh = e[e['City'] == 'Chandigarh']
e_Chennai = e[e['City'] == 'Chennai']
e_Thiruvananthapuram = e[e['City'] == 'Thiruvananthapuram']
e_Imphal = e[e['City'] == 'Imphal']
e_Kota = e[e['City'] == 'Kota']
e_Jaipur = e[e['City'] == 'Jaipur']
e_Gurugram = e[e['City'] == 'Gurugram']
e_Faridabad = e[e['City'] == 'Faridabad']
e_Guwahati = e[e['City'] == 'Guwahati']
e_Moradabad = e[e['City'] == 'Moradabad']
e_Kanpur = e[e['City'] == 'Kanpur']
e_Noida = e[e['City'] == 'Noida']
e_Agra = e[e['City'] == 'Agra']
e_Ghaziabad = e[e['City'] == 'Ghaziabad']
e_Prayagraj = e[e['City'] == 'Prayagraj']
e_Meerut = e[e['City'] == 'Meerut']
e_Varanasi = e[e['City'] == 'Varanasi']
e_Lucknow = e[e['City'] == 'Lucknow']
e_Gandhinagar = e[e['City'] == 'Gandhinagar']
e_Mumbai = e[e['City'] == 'Mumbai']

# feeling null value by imputation

# Delhi

In [10]:
e_Delhi = e_Delhi[['PM2.5',
                   #'NO',
                   'NO2', 'NOx', 'NH3', 'SO2',
                   #'CO',
                   'Ozone', 'Benzene',
       'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 
                   #'AT',
                   'RF', 'TOT-RF',
       'VWS',
                   #'Eth-Benzene', 'Xylene', 'MP-Xylene', 'O Xylene', 'CH4',
                   'City',
       'Year', 'Month','week']].copy()

In [11]:
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [12]:
imp_mean = SimpleImputer(strategy='mean')
e_Delhi[['WS','VWS','NH3','Benzene','RH','WD','Temp','SO2']] = imp_mean.fit_transform(e_Delhi[['WS','VWS','NH3','Benzene','RH','WD','Temp','SO2']])

In [13]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Delhi[['RF','BP','SR','Ozone','NO2','NOx']] = imp_KNN.fit_transform(e_Delhi[['RF','BP','SR','Ozone','NO2','NOx']])

In [14]:
imp_II = IterativeImputer()
e_Delhi[['PM2.5','Toluene']] = imp_II.fit_transform(e_Delhi[['PM2.5','Toluene']])

In [15]:
nullvalues = e_Delhi.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Delhi.isnull().sum()/e_Delhi.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

         Total    %
PM2.5        0  0.0
WD           0  0.0
Month        0  0.0
Year         0  0.0
City         0  0.0
VWS          0  0.0
TOT-RF       0  0.0
RF           0  0.0
BP           0  0.0
SR           0  0.0
WS           0  0.0
NO2          0  0.0
RH           0  0.0
Temp         0  0.0
Toluene      0  0.0
Benzene      0  0.0
Ozone        0  0.0
SO2          0  0.0
NH3          0  0.0
NOx          0  0.0
week         0  0.0

# Ahmedabad

In [16]:
e_Ahmedabad = e_Ahmedabad[['PM2.5', 
                           #'NO', 'NO2',
                           'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       #'Toluene',
                            'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 
                           #'RF',
                           'TOT-RF',
       'VWS', 
                           #'Eth-Benzene',
                           'Xylene',
                           #'MP-Xylene',
                           'O Xylene', 'City',
       'Year', 'Month','week']].copy()

In [17]:
imp_mean = SimpleImputer(strategy='mean')
e_Ahmedabad[['Ozone','Benzene','CO','NOx']] = imp_mean.fit_transform(e_Ahmedabad[['Ozone','Benzene','CO','NOx']])

In [18]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Ahmedabad[['SO2','PM2.5','RH','WD']] = imp_KNN.fit_transform(e_Ahmedabad[['SO2','PM2.5','RH','WD']])

In [19]:
imp_II = IterativeImputer()
e_Ahmedabad[['SR','WS']] = imp_II.fit_transform(e_Ahmedabad[['SR','WS']])

In [20]:
nullvalues = e_Ahmedabad.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Ahmedabad.isnull().sum()/e_Ahmedabad.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

          Total    %
PM2.5         0  0.0
BP            0  0.0
Month         0  0.0
Year          0  0.0
City          0  0.0
O Xylene      0  0.0
Xylene        0  0.0
VWS           0  0.0
TOT-RF        0  0.0
AT            0  0.0
SR            0  0.0
NOx           0  0.0
WD            0  0.0
WS            0  0.0
RH            0  0.0
Benzene       0  0.0
Ozone         0  0.0
CO            0  0.0
SO2           0  0.0
NH3           0  0.0
week          0  0.0

# Ganghinagar

In [21]:
e_Gandhinagar = e_Gandhinagar[['PM2.5', 'NO2', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene', 'RH', 'WS', 'WD', 'SR', 'AT', 'RF', 'TOT-RF',
       'Eth-Benzene', 'Xylene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [22]:
imp_mean = SimpleImputer(strategy='mean')
e_Gandhinagar[['RH','NH3','NO2','Benzene','Eth-Benzene','CO','PM2.5','WS']] = imp_mean.fit_transform(e_Gandhinagar[['RH','NH3','NO2','Benzene','Eth-Benzene','CO','PM2.5','WS']])

In [23]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Gandhinagar[['SR','Ozone','Xylene','SO2','WD','Toluene']] = imp_KNN.fit_transform(e_Gandhinagar[['SR','Ozone','Xylene','SO2','WD','Toluene']])

In [24]:
nullvalues = e_Gandhinagar.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Gandhinagar.isnull().sum()/e_Gandhinagar.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
NO2              0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
RF               0  0.0
AT               0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Toluene          0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Lucknow

In [25]:
e_Lucknow = e_Lucknow[['PM2.5', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF',
       'Eth-Benzene', 'O Xylene', 'City',
       'Year', 'Month','week']].copy()

In [26]:
imp_mean = SimpleImputer(strategy='mean')
e_Lucknow[['NH3','CO','Ozone','Toluene','WS','BP','AT']] = imp_mean.fit_transform(e_Lucknow[['NH3','CO','Ozone','Toluene','WS','BP','AT']])

In [27]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Lucknow[['PM2.5','NOx','Benzene','WD','RF']] = imp_KNN.fit_transform(e_Lucknow[['PM2.5','NOx','Benzene','WD','RF']])

In [28]:
imp_II = IterativeImputer()
e_Lucknow[['SO2','SR','O Xylene']] = imp_II.fit_transform(e_Lucknow[['SO2','SR','O Xylene']])

In [29]:
nullvalues = e_Lucknow.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Lucknow.isnull().sum()/e_Lucknow.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
BP               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
RF               0  0.0
AT               0  0.0
SR               0  0.0
NOx              0  0.0
WD               0  0.0
WS               0  0.0
Toluene          0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Varanasi

In [30]:
e_Varanasi = e_Varanasi[['PM2.5', 'NO2', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene',
        'RH', 'WS', 'WD', 'SR', 'AT', 'RF',
       'Xylene', 'MP-Xylene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [31]:
imp_mean = SimpleImputer(strategy='mean')
e_Varanasi[['Ozone','Benzene','WS','WD','AT']] = imp_mean.fit_transform(e_Varanasi[['Ozone','Benzene','WS','WD','AT']])

In [32]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Varanasi[['NO2','NOx','PM2.5','SR','Xylene']] = imp_KNN.fit_transform(e_Varanasi[['NO2','NOx','PM2.5','SR','Xylene']])

In [33]:
imp_II = IterativeImputer()
e_Varanasi[['RH']] = imp_II.fit_transform(e_Varanasi[['RH']])

In [34]:
nullvalues = e_Varanasi.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Varanasi.isnull().sum()/e_Varanasi.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

           Total    %
PM2.5          0  0.0
NO2            0  0.0
Month          0  0.0
Year           0  0.0
City           0  0.0
O Xylene       0  0.0
MP-Xylene      0  0.0
Xylene         0  0.0
RF             0  0.0
AT             0  0.0
SR             0  0.0
WD             0  0.0
WS             0  0.0
RH             0  0.0
Benzene        0  0.0
Ozone          0  0.0
SO2            0  0.0
NH3            0  0.0
NOx            0  0.0
week           0  0.0

# Meerut

In [35]:
e_Meerut = e_Meerut[['PM2.5', 'NO', 'NH3', 'SO2', 'CO', 'Ozone',
       'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF',
       'Eth-Benzene', 'Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [36]:
imp_mean = SimpleImputer(strategy='mean')
e_Meerut[['CO','Toluene','RH','WS','WD','BP','Xylene']] = imp_mean.fit_transform(e_Meerut[['CO','Toluene','RH','WS','WD','BP','Xylene']])

In [37]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Meerut[['PM2.5','NH3','SO2','Ozone','SR','AT','Eth-Benzene']] = imp_KNN.fit_transform(e_Meerut[['PM2.5','NH3','SO2','Ozone','SR','AT','Eth-Benzene']])

In [38]:
imp_II = IterativeImputer()
e_Meerut[['NO']] = imp_II.fit_transform(e_Meerut[['NO']])

In [39]:
nullvalues = e_Meerut.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Meerut.isnull().sum()/e_Meerut.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
SR               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
AT               0  0.0
BP               0  0.0
WD               0  0.0
NO               0  0.0
WS               0  0.0
RH               0  0.0
Temp             0  0.0
Toluene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Prayagraj

In [40]:
e_Prayagraj = e_Prayagraj[['PM2.5', 'NOx', 'NH3',  'Ozone', 'Benzene',
          'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 
        'Eth-Benzene',  'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [41]:
nullvalues = e_Prayagraj.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Prayagraj.isnull().sum()/e_Prayagraj.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
AT               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
Eth-Benzene      0  0.0
RF               0  0.0
BP               0  0.0
NOx              0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
Benzene          0  0.0
Ozone            0  0.0
NH3              0  0.0
week             0  0.0

# Ghaziabad

In [42]:
e_Ghaziabad = e_Ghaziabad[['PM2.5', 'NOx', 'NH3', 'SO2',  'Ozone', 
        'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF',
         'Xylene',   'City',
       'Year', 'Month','week']
].copy()

In [43]:
imp_mean = SimpleImputer(strategy='mean')
e_Ghaziabad[['Temp','RH','WS','BP','AT']] = imp_mean.fit_transform(e_Ghaziabad[['Temp','RH','WS','BP','AT']])

In [44]:
imp_KNN = KNNImputer(n_neighbors=7)
e_Ghaziabad[['PM2.5','NOx','NH3','SO2','WD','SR','Xylene']] = imp_KNN.fit_transform(e_Ghaziabad[['PM2.5','NOx','NH3','SO2','WD','SR','Xylene']])

In [45]:
imp_II = IterativeImputer()
e_Ghaziabad[['Ozone','RF']] = imp_II.fit_transform(e_Ghaziabad[['Ozone','RF']])

In [46]:
nullvalues = e_Ghaziabad.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Ghaziabad.isnull().sum()/e_Ghaziabad.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

        Total    %
PM2.5       0  0.0
BP          0  0.0
Month       0  0.0
Year        0  0.0
City        0  0.0
Xylene      0  0.0
TOT-RF      0  0.0
RF          0  0.0
AT          0  0.0
SR          0  0.0
NOx         0  0.0
WD          0  0.0
WS          0  0.0
RH          0  0.0
Temp        0  0.0
Ozone       0  0.0
SO2         0  0.0
NH3         0  0.0
week        0  0.0

# Agra

In [47]:
e_Agra = e_Agra[['PM2.5', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
         'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF',
       'VWS', 'Eth-Benzene', 'Xylene',  'O Xylene',  'City',
       'Year', 'Month','week']
].copy()

In [48]:
imp_mean = SimpleImputer(strategy='mean')
e_Agra[['Ozone','RH','WS','WD','BP','AT','VWS']] = imp_mean.fit_transform(e_Agra[['Ozone','RH','WS','WD','BP','AT','VWS']])

In [49]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Agra[['PM2.5','Benzene','SR','Eth-Benzene','Xylene']] = imp_KNN.fit_transform(e_Agra[['PM2.5','Benzene','SR','Eth-Benzene','Xylene']])

In [50]:
imp_II = IterativeImputer()
e_Agra[['NOx']] = imp_II.fit_transform(e_Agra[['NOx']])

In [51]:
nullvalues = e_Agra.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Agra.isnull().sum()/e_Agra.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
NOx              0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
VWS              0  0.0
TOT-RF           0  0.0
AT               0  0.0
BP               0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Noida

In [52]:
e_Noida = e_Noida[['PM2.5', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone',
       'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT',  'TOT-RF',
         'Xylene',   'City',
       'Year', 'Month','week']].copy()

In [53]:
imp_mean = SimpleImputer(strategy='mean')
e_Noida[['CO','RH','Temp','WS','BP']] = imp_mean.fit_transform(e_Noida[['CO','RH','Temp','WS','BP']])

In [54]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Noida[['PM2.5','NOx','Ozone','Toluene','WD','SR']] = imp_KNN.fit_transform(e_Noida[['PM2.5','NOx','Ozone','Toluene','WD','SR']])

In [55]:
imp_II = IterativeImputer()
e_Noida[['NH3','SO2','AT']] = imp_II.fit_transform(e_Noida[['NH3','SO2','AT']])

In [56]:
nullvalues = e_Noida.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Noida.isnull().sum()/e_Noida.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

         Total    %
PM2.5        0  0.0
NOx          0  0.0
Month        0  0.0
Year         0  0.0
City         0  0.0
Xylene       0  0.0
TOT-RF       0  0.0
AT           0  0.0
BP           0  0.0
SR           0  0.0
WD           0  0.0
WS           0  0.0
RH           0  0.0
Temp         0  0.0
Toluene      0  0.0
Ozone        0  0.0
CO           0  0.0
SO2          0  0.0
NH3          0  0.0
week         0  0.0

# Kanpur

In [57]:
e_Kanpur = e_Kanpur[['PM2.5', 'NOx', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT',  'TOT-RF',
       'VWS', 'Eth-Benzene', 'Xylene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [58]:
imp_mean = SimpleImputer(strategy='mean')
e_Kanpur[['SO2','WS','WD','BP','AT']] = imp_mean.fit_transform(e_Kanpur[['SO2','WS','WD','BP','AT']])

In [59]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Kanpur[['PM2.5','Ozone','RH','SR']] = imp_KNN.fit_transform(e_Kanpur[['PM2.5','Ozone','RH','SR']])

In [60]:
imp_II = IterativeImputer()
e_Kanpur[['NOx']] = imp_II.fit_transform(e_Kanpur[['NOx']])

In [61]:
nullvalues = e_Kanpur.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Kanpur.isnull().sum()/e_Kanpur.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
BP               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
VWS              0  0.0
TOT-RF           0  0.0
AT               0  0.0
SR               0  0.0
NOx              0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Temp             0  0.0
Toluene          0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
week             0  0.0

# Moradabad

In [62]:
e_Moradabad = e_Moradabad[['PM2.5', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'RH', 'WS', 'WD', 'SR', 'BP','RF',
        'Eth-Benzene', 'Xylene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [63]:
nullvalues = e_Moradabad.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Moradabad.isnull().sum()/e_Moradabad.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
NOx              0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
RF               0  0.0
BP               0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Guwahati

In [64]:
e_Guwahati = e_Guwahati[['PM2.5', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
        'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF',
        'Eth-Benzene', 'MP-Xylene', 'O Xylene','City',
       'Year', 'Month','week']
].copy()

In [65]:
imp_mean = SimpleImputer(strategy='mean')
e_Guwahati[['NO2','NH3','SO2','CO','Ozone','BP','AT','O Xylene']] = imp_mean.fit_transform(e_Guwahati[['NO2','NH3','SO2','CO','Ozone','BP','AT','O Xylene']])

In [66]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Guwahati[['PM2.5','NOx','WD','SR']] = imp_KNN.fit_transform(e_Guwahati[['PM2.5','NOx','WD','SR']])

In [67]:
imp_II = IterativeImputer()
e_Guwahati[['Benzene','RF']] = imp_II.fit_transform(e_Guwahati[['Benzene','RF']])

In [68]:
nullvalues = e_Guwahati.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Guwahati.isnull().sum()/e_Guwahati.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
AT               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
MP-Xylene        0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
RF               0  0.0
BP               0  0.0
NO2              0  0.0
SR               0  0.0
WD               0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
NOx              0  0.0
week             0  0.0

# Faridabad

In [69]:
e_Faridabad = e_Faridabad[['PM2.5', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene','RH', 'WS', 'WD', 'SR','AT', 'TOT-RF',
       'Xylene','City',
       'Year', 'Month','week']
].copy()

In [70]:
imp_mean = SimpleImputer(strategy='mean')
e_Faridabad[['PM2.5','CO','AT']] = imp_mean.fit_transform(e_Faridabad[['PM2.5','CO','AT']])

In [71]:
mp_KNN = KNNImputer(n_neighbors=5)
e_Faridabad[['Ozone','Benzene','Toluene','RH','WS','WD','SR']] = imp_KNN.fit_transform(e_Faridabad[['Ozone','Benzene','Toluene','RH','WS','WD','SR']])

In [72]:
imp_II = IterativeImputer()
e_Faridabad[['SO2','Xylene']] = imp_II.fit_transform(e_Faridabad[['SO2','Xylene']])

In [73]:
nullvalues = e_Faridabad.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Faridabad.isnull().sum()/e_Faridabad.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

         Total    %
PM2.5        0  0.0
WS           0  0.0
Month        0  0.0
Year         0  0.0
City         0  0.0
Xylene       0  0.0
TOT-RF       0  0.0
AT           0  0.0
SR           0  0.0
WD           0  0.0
RH           0  0.0
NO           0  0.0
Toluene      0  0.0
Benzene      0  0.0
Ozone        0  0.0
CO           0  0.0
SO2          0  0.0
NH3          0  0.0
NOx          0  0.0
NO2          0  0.0
week         0  0.0

# Gurugram

In [74]:
e_Gurugram = e_Gurugram[['PM2.5', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene', 'RH', 'WS', 'WD', 'SR', 'AT', 'RF', 'TOT-RF',
       'Eth-Benzene', 'Xylene', 'MP-Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [75]:
imp_mean = SimpleImputer(strategy='mean')
e_Gurugram[['Benzene','WS','WD','RF']] = imp_mean.fit_transform(e_Gurugram[['Benzene','WS','WD','RF']])

In [76]:
imp_KNN = KNNImputer(n_neighbors=7)
e_Gurugram[['PM2.5','NO2','NOx','NH3','SO2','CO','Ozone','Toluene','RH','Eth-Benzene','Xylene','MP-Xylene']] = imp_KNN.fit_transform(e_Gurugram[['PM2.5','NO2','NOx','NH3','SO2','CO','Ozone','Toluene','RH','Eth-Benzene','Xylene','MP-Xylene']])

In [77]:
imp_II = IterativeImputer()
e_Gurugram[['SR','AT']] = imp_II.fit_transform(e_Gurugram[['SR','AT']])

In [78]:
nullvalues = e_Gurugram.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Gurugram.isnull().sum()/e_Gurugram.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
SR               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
MP-Xylene        0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
RF               0  0.0
AT               0  0.0
WD               0  0.0
NO2              0  0.0
WS               0  0.0
RH               0  0.0
Toluene          0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
NOx              0  0.0
week             0  0.0

# Jaipur

In [79]:
e_Jaipur = e_Jaipur[['PM2.5', 'NOx',  'SO2', 'CO', 'Ozone', 
       'Toluene', 'RH', 'WS', 'WD', 'SR',  'AT', 'RF', 'TOT-RF',
        'MP-Xylene',  'City',
       'Year', 'Month','week']
].copy()

In [80]:
imp_mean = SimpleImputer(strategy='mean')
e_Jaipur[['Ozone','WS','WD','RF']] = imp_mean.fit_transform(e_Jaipur[['Ozone','WS','WD','RF']])

In [81]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Jaipur[['PM2.5','NOx','Toluene','RH','SR','MP-Xylene']] = imp_KNN.fit_transform(e_Jaipur[['PM2.5','NOx','Toluene','RH','SR','MP-Xylene']])

In [82]:
imp_II = IterativeImputer()
e_Jaipur[['SO2','CO']] = imp_II.fit_transform(e_Jaipur[['SO2','CO']])

In [83]:
nullvalues = e_Jaipur.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Jaipur.isnull().sum()/e_Jaipur.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

           Total    %
PM2.5          0  0.0
NOx            0  0.0
Month          0  0.0
Year           0  0.0
City           0  0.0
MP-Xylene      0  0.0
TOT-RF         0  0.0
RF             0  0.0
AT             0  0.0
SR             0  0.0
WD             0  0.0
WS             0  0.0
RH             0  0.0
Toluene        0  0.0
Ozone          0  0.0
CO             0  0.0
SO2            0  0.0
week           0  0.0

# Kota

In [84]:
e_Kota = e_Kota[['PM2.5', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 
         'WS', 'WD',  'BP', 'RF', 
        'MP-Xylene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [85]:
imp_mean = SimpleImputer(strategy='mean')
e_Kota[['NOx','NH3','CO','WS','BP']] = imp_mean.fit_transform(e_Kota[['NOx','NH3','CO','WS','BP']])

In [86]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Kota[['PM2.5','SO2','Ozone','WD','RF','MP-Xylene']] = imp_KNN.fit_transform(e_Kota[['PM2.5','SO2','Ozone','WD','RF','MP-Xylene']])

In [87]:
imp_II = IterativeImputer()
e_Kota[['RF','O Xylene']] = imp_II.fit_transform(e_Kota[['RF','O Xylene']])

In [88]:
nullvalues = e_Kota.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Kota.isnull().sum()/e_Kota.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

           Total    %
PM2.5          0  0.0
NOx            0  0.0
NH3            0  0.0
SO2            0  0.0
CO             0  0.0
Ozone          0  0.0
WS             0  0.0
WD             0  0.0
BP             0  0.0
RF             0  0.0
MP-Xylene      0  0.0
O Xylene       0  0.0
City           0  0.0
Year           0  0.0
Month          0  0.0
week           0  0.0

# Imphal

In [89]:
e_Imphal = e_Imphal[['PM2.5', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone',
        'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF',
        'Eth-Benzene','City',
       'Year', 'Month','week']
].copy()

In [90]:
nullvalues = e_Imphal.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Imphal.isnull().sum()/e_Imphal.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
NO               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
Eth-Benzene      0  0.0
RF               0  0.0
AT               0  0.0
BP               0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
NOx              0  0.0
NO2              0  0.0
week             0  0.0

# Thiruvananthapuram

In [91]:
e_Thiruvananthapuram = e_Thiruvananthapuram[['PM2.5',  'NO2', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
        'RH', 'WS', 'WD', 'SR', 'AT', 'TOT-RF',
        'Eth-Benzene', 'Xylene', 'MP-Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [92]:
imp_mean = SimpleImputer(strategy='mean')
e_Thiruvananthapuram[['NO2','SO2','CO','Ozone','Benzene','RH','WD','WS']] = imp_mean.fit_transform(e_Thiruvananthapuram[['NO2','SO2','CO','Ozone','Benzene','RH','WD','WS']])

In [93]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Thiruvananthapuram[['NH3','WD','SR','AT','Xylene']] = imp_KNN.fit_transform(e_Thiruvananthapuram[['NH3','WD','SR','AT','Xylene']])

In [94]:
imp_II = IterativeImputer()
e_Thiruvananthapuram[['PM2.5']] = imp_II.fit_transform(e_Thiruvananthapuram[['PM2.5']])

In [95]:
nullvalues = e_Thiruvananthapuram.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Thiruvananthapuram.isnull().sum()/e_Thiruvananthapuram.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
NO2              0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
MP-Xylene        0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
AT               0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Agartala

In [96]:
e_Agartala = e_Agartala[['PM2.5', 'NO',  'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 
       'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF',
         'MP-Xylene', 'O Xylene',  'City',
       'Year', 'Month','week']
].copy()

In [97]:
nullvalues = e_Agartala.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Agartala.isnull().sum()/e_Agartala.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

           Total    %
PM2.5          0  0.0
BP             0  0.0
Month          0  0.0
Year           0  0.0
City           0  0.0
O Xylene       0  0.0
MP-Xylene      0  0.0
TOT-RF         0  0.0
RF             0  0.0
AT             0  0.0
SR             0  0.0
NO             0  0.0
WD             0  0.0
WS             0  0.0
RH             0  0.0
Ozone          0  0.0
CO             0  0.0
SO2            0  0.0
NH3            0  0.0
NOx            0  0.0
week           0  0.0

# Gaya

In [98]:
e_Gaya = e_Gaya[['PM2.5', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone',
        'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF',
        'Xylene',  'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [99]:
imp_mean = SimpleImputer(strategy='mean')
e_Gaya[['NOx','SO2','CO','Ozone','RH','WS','WD','SR','BP','PM2.5']] = imp_mean.fit_transform(e_Gaya[['NOx','SO2','CO','Ozone','RH','WS','WD','SR','BP','PM2.5']])

In [100]:
imp_KNN = KNNImputer(n_neighbors=7)
e_Gaya[['AT','Xylene']] = imp_KNN.fit_transform(e_Gaya[['AT','Xylene']])

In [101]:
nullvalues = e_Gaya.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Gaya.isnull().sum()/e_Gaya.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

          Total    %
PM2.5         0  0.0
BP            0  0.0
Month         0  0.0
Year          0  0.0
City          0  0.0
O Xylene      0  0.0
Xylene        0  0.0
TOT-RF        0  0.0
AT            0  0.0
SR            0  0.0
NOx           0  0.0
WD            0  0.0
WS            0  0.0
RH            0  0.0
Ozone         0  0.0
CO            0  0.0
SO2           0  0.0
NH3           0  0.0
week          0  0.0

# Muzaffarpur

In [102]:
e_Muzaffarpur = e_Muzaffarpur[['PM2.5', 'NO', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT',  'TOT-RF',
        'Xylene',  'O Xylene',  'City',
       'Year', 'Month','week']
].copy()

In [103]:
imp_mean = SimpleImputer(strategy='mean')
e_Muzaffarpur[['SO2','CO','Ozone','Benzene','WS','SR','BP']] = imp_mean.fit_transform(e_Muzaffarpur[['SO2','CO','Ozone','Benzene','WS','SR','BP']])

In [104]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Muzaffarpur[['PM2.5','NO','NOx','WD','Toluene','Xylene']] = imp_KNN.fit_transform(e_Muzaffarpur[['PM2.5','NO','NOx','WD','Toluene','Xylene']])

In [105]:
imp_II = IterativeImputer()

e_Muzaffarpur[['RH','AT']] = imp_II.fit_transform(e_Muzaffarpur[['RH','AT']] )

In [106]:
nullvalues = e_Muzaffarpur.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Muzaffarpur.isnull().sum()/e_Muzaffarpur.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

          Total    %
PM2.5         0  0.0
NO            0  0.0
Month         0  0.0
Year          0  0.0
City          0  0.0
O Xylene      0  0.0
Xylene        0  0.0
TOT-RF        0  0.0
AT            0  0.0
BP            0  0.0
SR            0  0.0
WD            0  0.0
WS            0  0.0
RH            0  0.0
Toluene       0  0.0
Benzene       0  0.0
Ozone         0  0.0
CO            0  0.0
SO2           0  0.0
NH3           0  0.0
NOx           0  0.0
week          0  0.0

# Patna

In [107]:
e_Patna = e_Patna[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene',
       'Toluene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF',
       'Eth-Benzene', 'Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [108]:
imp_mean = SimpleImputer(strategy='mean')
e_Patna[['SO2','WS','WD','Xylene']] = imp_mean.fit_transform(e_Patna[['SO2','WS','WD','Xylene']])

In [109]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Patna[['PM2.5','NOx','NH3','Ozone','Benzene','Toluene','RH','SR','BP','AT','Eth-Benzene']] = imp_KNN.fit_transform(e_Patna[['PM2.5','NOx','NH3','Ozone','Benzene','Toluene','RH','SR','BP','AT','Eth-Benzene']])

In [110]:
nullvalues = e_Patna.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Patna.isnull().sum()/e_Patna.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
NOx              0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
AT               0  0.0
BP               0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Toluene          0  0.0
Benzene          0  0.0
Ozone            0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Srinagar

In [111]:
e_Srinagar  = e_Srinagar[['PM2.5', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone',
       'Toluene', 'RH', 'WS', 'WD', 'SR', 'RF',
       'Eth-Benzene','City',
       'Year', 'Month','week']
].copy()

In [112]:
nullvalues = e_Srinagar.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Srinagar.isnull().sum()/e_Srinagar.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
WS               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
Eth-Benzene      0  0.0
RF               0  0.0
SR               0  0.0
WD               0  0.0
RH               0  0.0
NO               0  0.0
Toluene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
NOx              0  0.0
NO2              0  0.0
week             0  0.0

# Howrah

In [113]:
e_Howrah = e_Howrah[['PM2.5', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone',
       'Toluene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF',
       'VWS',  'Xylene', 'MP-Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [114]:
imp_mean = SimpleImputer(strategy='mean')
e_Howrah[['NOx','CO','WS','WD','AT']] = imp_mean.fit_transform(e_Howrah[['NOx','CO','WS','WD','AT']])

In [115]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Howrah[['PM2.5','NH3','Toluene','SR','Xylene','SO2','RH','MP-Xylene']] = imp_KNN.fit_transform(e_Howrah[['PM2.5','NH3','Toluene','SR','Xylene','SO2','RH','MP-Xylene']])

In [116]:
imp_II = IterativeImputer()
e_Howrah[['Ozone','VWS']] = imp_II.fit_transform(e_Howrah[['Ozone','VWS']])

In [117]:
nullvalues = e_Howrah.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Howrah.isnull().sum()/e_Howrah.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

           Total    %
PM2.5          0  0.0
BP             0  0.0
Month          0  0.0
Year           0  0.0
City           0  0.0
MP-Xylene      0  0.0
Xylene         0  0.0
VWS            0  0.0
TOT-RF         0  0.0
AT             0  0.0
SR             0  0.0
NOx            0  0.0
WD             0  0.0
WS             0  0.0
RH             0  0.0
Toluene        0  0.0
Ozone          0  0.0
CO             0  0.0
SO2            0  0.0
NH3            0  0.0
week           0  0.0

# Kolkata

In [118]:
e_Kolkata = e_Kolkata[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene',
        'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF',
       'VWS', 'Xylene', 'MP-Xylene',  'City',
       'Year', 'Month','week']
].copy()

In [119]:
imp_mean = SimpleImputer(strategy='mean')
e_Kolkata[['RH','WS','VWS']] = imp_mean.fit_transform(e_Kolkata[['RH','WS','VWS']])

In [120]:
imp_KNN = KNNImputer(n_neighbors=7)
e_Kolkata[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene','SR','AT','RF', 'MP-Xylene']] = imp_KNN.fit_transform(e_Kolkata[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene','SR','AT','RF', 'MP-Xylene']])

In [121]:
imp_II = IterativeImputer()
e_Kolkata[['WD']] = imp_II.fit_transform(e_Kolkata[['WD']])

In [122]:
nullvalues = e_Kolkata.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Kolkata.isnull().sum()/e_Kolkata.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

           Total    %
PM2.5          0  0.0
AT             0  0.0
Month          0  0.0
Year           0  0.0
City           0  0.0
MP-Xylene      0  0.0
Xylene         0  0.0
VWS            0  0.0
TOT-RF         0  0.0
RF             0  0.0
BP             0  0.0
NOx            0  0.0
SR             0  0.0
WD             0  0.0
WS             0  0.0
RH             0  0.0
Benzene        0  0.0
Ozone          0  0.0
SO2            0  0.0
NH3            0  0.0
week           0  0.0

# Bhopal

In [123]:
e_Bhopal = e_Bhopal[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene',
       'Toluene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF',
       'Eth-Benzene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [124]:
imp_KNN = KNNImputer(n_neighbors=7)
e_Bhopal[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT']] = imp_KNN.fit_transform(e_Bhopal[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT']])

In [125]:
nullvalues = e_Bhopal.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Bhopal.isnull().sum()/e_Bhopal.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
NOx              0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
AT               0  0.0
BP               0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Toluene          0  0.0
Benzene          0  0.0
Ozone            0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Gwalior

In [126]:
e_Gwalior = e_Gwalior[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene',
       'Toluene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'TOT-RF',
        'MP-Xylene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [127]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Gwalior[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT',]] = imp_KNN.fit_transform(e_Gwalior[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT',]])

In [128]:
nullvalues = e_Gwalior.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Gwalior.isnull().sum()/e_Gwalior.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

           Total    %
PM2.5          0  0.0
NOx            0  0.0
Month          0  0.0
Year           0  0.0
City           0  0.0
O Xylene       0  0.0
MP-Xylene      0  0.0
TOT-RF         0  0.0
AT             0  0.0
BP             0  0.0
SR             0  0.0
WD             0  0.0
WS             0  0.0
RH             0  0.0
Toluene        0  0.0
Benzene        0  0.0
Ozone          0  0.0
SO2            0  0.0
NH3            0  0.0
week           0  0.0

# Bengaluru

In [129]:
e_Bengaluru = e_Bengaluru[['PM2.5', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 
        'Eth-Benzene', 'MP-Xylene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [130]:
imp_mean = SimpleImputer(strategy='mean')
e_Bengaluru[['CO','NH3','Temp']] = imp_mean.fit_transform(e_Bengaluru[['CO','NH3','Temp']])

In [131]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Bengaluru[[ 'RH', 'WS', 'WD', 'SR', 'BP', 'AT','Ozone']] = imp_KNN.fit_transform(e_Bengaluru[[ 'RH', 'WS', 'WD', 'SR', 'BP', 'AT','Ozone']])

In [132]:
imp_II = IterativeImputer()
e_Bengaluru[['PM2.5','NOx','SO2','Benzene']] = imp_II.fit_transform(e_Bengaluru[['PM2.5','NOx','SO2','Benzene']])

In [133]:
nullvalues = e_Bengaluru.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Bengaluru.isnull().sum()/e_Bengaluru.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
SR               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
MP-Xylene        0  0.0
Eth-Benzene      0  0.0
AT               0  0.0
BP               0  0.0
WD               0  0.0
NOx              0  0.0
WS               0  0.0
RH               0  0.0
Temp             0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
week             0  0.0

# Raipur

In [134]:
e_Raipur = e_Raipur[['PM2.5', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene',
        'RH',  'WD', 'SR',  'AT', 
       'WS','CO', 'City',
       'Year', 'Month','week']
].copy()

In [135]:
nullvalues = e_Raipur.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Raipur.isnull().sum()/e_Raipur.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

         Total    %
PM2.5        0  0.0
NOx          0  0.0
NH3          0  0.0
SO2          0  0.0
Ozone        0  0.0
Benzene      0  0.0
RH           0  0.0
WD           0  0.0
SR           0  0.0
AT           0  0.0
WS           0  0.0
CO           0  0.0
City         0  0.0
Year         0  0.0
Month        0  0.0
week         0  0.0

# Bhilai

In [136]:
e_Bhilai = e_Bhilai[['PM2.5', 'NO2', 'NOx', 'NH3', 'SO2', 'CO',  'Benzene',
       'RH',  'WD', 'SR',  'AT',
        'City',
       'Year', 'Month','week']
].copy()

In [137]:
nullvalues = e_Bhilai.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Bhilai.isnull().sum()/e_Bhilai.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

         Total    %
PM2.5        0  0.0
NO2          0  0.0
NOx          0  0.0
NH3          0  0.0
SO2          0  0.0
CO           0  0.0
Benzene      0  0.0
RH           0  0.0
WD           0  0.0
SR           0  0.0
AT           0  0.0
City         0  0.0
Year         0  0.0
Month        0  0.0
week         0  0.0

# Chandigharh

In [138]:
e_Chandigarh= e_Chandigarh[['PM2.5', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene',  'RH', 'WS', 'WD', 'SR', 'AT',  'TOT-RF',
       'Eth-Benzene', 'Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [139]:
imp_mean = SimpleImputer(strategy='mean')
e_Chandigarh[['Eth-Benzene', 'Xylene']] = imp_mean.fit_transform(e_Chandigarh[['Eth-Benzene', 'Xylene']])

In [140]:
imp_KNN = KNNImputer(n_neighbors=3)
e_Chandigarh[['PM2.5', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene','Toluene', 'RH', 'WS', 'WD', 'SR', 'AT']] = imp_KNN.fit_transform(e_Chandigarh[['PM2.5', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene','Toluene', 'RH', 'WS', 'WD', 'SR', 'AT']])

In [141]:
nullvalues = e_Chandigarh.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Chandigarh.isnull().sum()/e_Chandigarh.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
WD               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
TOT-RF           0  0.0
AT               0  0.0
SR               0  0.0
WS               0  0.0
NO2              0  0.0
RH               0  0.0
Toluene          0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
NOx              0  0.0
week             0  0.0

# Chennai

In [142]:
e_Chennai = e_Chennai[['PM2.5',
                       #'NO',
                       'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene',
       'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF', 'TOT-RF',
       'VWS', 'Eth-Benzene', 
                       #'Xylene',
                       'MP-Xylene', 'O Xylene', 'CH4', 'City',
       'Year', 'Month','week']
].copy()

In [143]:
imp_mean = SimpleImputer(strategy='mean')
e_Chennai[['VWS','BP','RH']] = imp_mean.fit_transform(e_Chennai[['VWS','BP','RH']])

In [144]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Chennai[['PM2.5','NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene','Toluene','WS', 'WD', 'SR']] = imp_KNN.fit_transform(e_Chennai[['PM2.5','NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene','Toluene','WS', 'WD', 'SR']] )

In [145]:
nullvalues = e_Chennai.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Chennai.isnull().sum()/e_Chennai.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
BP               0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
CH4              0  0.0
O Xylene         0  0.0
MP-Xylene        0  0.0
Eth-Benzene      0  0.0
VWS              0  0.0
TOT-RF           0  0.0
RF               0  0.0
AT               0  0.0
SR               0  0.0
NO2              0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Temp             0  0.0
Toluene          0  0.0
Benzene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
NH3              0  0.0
NOx              0  0.0
week             0  0.0

# Mumbai

In [146]:
e_Mumbai = e_Mumbai[['PM2.5', 'NOx', 'SO2', 'CO', 'Ozone',
       'Toluene', 'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF',
        'Eth-Benzene', 'Xylene', 'MP-Xylene', 'O Xylene', 'City',
       'Year', 'Month','week']
].copy()

In [147]:
imp_mean = SimpleImputer(strategy='mean')
e_Mumbai[['O Xylene','Ozone','WS','WD','AT']] = imp_mean.fit_transform(e_Mumbai[['O Xylene','Ozone','WS','WD','AT']])

In [148]:
imp_KNN = KNNImputer(n_neighbors=5)
e_Mumbai[['PM2.5', 'NOx', 'SO2', 'CO','Eth-Benzene','MP-Xylene']] = imp_KNN.fit_transform(e_Mumbai[['PM2.5', 'NOx', 'SO2', 'CO','Eth-Benzene','MP-Xylene']])

In [149]:
nullvalues = e_Mumbai.isnull().sum().sort_values(ascending=False)
null_value_percentage = (e_Mumbai.isnull().sum()/e_Mumbai.isnull().count()*100).sort_values(ascending=False)
missing_data = pd.concat([nullvalues,null_value_percentage],axis=1,keys=['Total','%'])
missing_data

             Total    %
PM2.5            0  0.0
NOx              0  0.0
Month            0  0.0
Year             0  0.0
City             0  0.0
O Xylene         0  0.0
MP-Xylene        0  0.0
Xylene           0  0.0
Eth-Benzene      0  0.0
RF               0  0.0
AT               0  0.0
BP               0  0.0
SR               0  0.0
WD               0  0.0
WS               0  0.0
RH               0  0.0
Temp             0  0.0
Toluene          0  0.0
Ozone            0  0.0
CO               0  0.0
SO2              0  0.0
week             0  0.0

In [150]:
from pandas.tseries.offsets import DateOffset
future_dt = [e_Delhi.index[-1]+DateOffset(hours=x*4)for x in range (0,20)]
future_dt

[Timestamp('2022-12-31 20:00:00'),
 Timestamp('2023-01-01 00:00:00'),
 Timestamp('2023-01-01 04:00:00'),
 Timestamp('2023-01-01 08:00:00'),
 Timestamp('2023-01-01 12:00:00'),
 Timestamp('2023-01-01 16:00:00'),
 Timestamp('2023-01-01 20:00:00'),
 Timestamp('2023-01-02 00:00:00'),
 Timestamp('2023-01-02 04:00:00'),
 Timestamp('2023-01-02 08:00:00'),
 Timestamp('2023-01-02 12:00:00'),
 Timestamp('2023-01-02 16:00:00'),
 Timestamp('2023-01-02 20:00:00'),
 Timestamp('2023-01-03 00:00:00'),
 Timestamp('2023-01-03 04:00:00'),
 Timestamp('2023-01-03 08:00:00'),
 Timestamp('2023-01-03 12:00:00'),
 Timestamp('2023-01-03 16:00:00'),
 Timestamp('2023-01-03 20:00:00'),
 Timestamp('2023-01-04 00:00:00')]

In [152]:
from sklearn.ensemble import RandomForestRegressor

In [164]:
e_Delhi['Date/time'] = e_Delhi.index
e_Delhi.columns

Index(['PM2.5', 'NO2', 'NOx', 'NH3', 'SO2', 'Ozone', 'Benzene', 'Toluene',
       'Temp', 'RH', 'WS', 'WD', 'SR', 'BP', 'RF', 'TOT-RF', 'VWS', 'City',
       'Year', 'Month', 'week', 'Date/time'],
      dtype='object')

In [185]:
X_train = e_Delhi[[ 
       'Year', 'Month', 'week']][:6000]
y_train = e_Delhi['PM2.5'][:6000]
X_test = e_Delhi[[ 
       'Year', 'Month', 'week']][6000:]
y_test = e_Delhi['PM2.5'][6000:]

In [211]:
rf = RandomForestRegressor(n_estimators=1000,max_depth= 1000,random_state=101)

In [212]:
rf.fit(X_train,y_train)

RandomForestRegressor(max_depth=1000, n_estimators=1000, random_state=101)

In [213]:
pred=rf.predict(X_test)

In [189]:
from sklearn.metrics import mean_absolute_error

In [214]:
mean_absolute_error(y_test,pred)

74.74182743660357

In [218]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [219]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train,y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestRegressor(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   random_state=42, verbose=2)

In [221]:
pred = rf_random.predict(X_test)

In [222]:
mean_absolute_error(y_test,pred)

75.06766889181056